@font-face {
  font-family: "Montserrat-Light";
  src: url("./montserrat_fam/Montserrat-Light.ttf") format("truetype");/* Safari, Android, iOS */
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("./montserrat_fam/Montserrat-Regular.ttf") format("truetype");/* Safari, Android, iOS */
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("./montserrat_fam/Montserrat-Medium.ttf") format("truetype");/* Safari, Android, iOS */
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("./montserrat_fam/Montserrat-SemiBold.ttf") format("truetype");/* Safari, Android, iOS */
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("./montserrat_fam/Montserrat-Bold.ttf") format("truetype");/* Safari, Android, iOS */
}
@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("./montserrat_fam/Montserrat-ExtraBold.ttf") format("truetype");/* Safari, Android, iOS */
}
@font-face {
  font-family: "Montserrat-Black";
  src: url("./montserrat_fam/Montserrat-Black.ttf") format("truetype");/* Safari, Android, iOS */
}
